<% title 'Web Developer: Landing Page, Responsive Web Design, Ruby on Rails, Python'%>
<div id="about" class="section">
  <div class="container">
    <div class="row">
     <div class="two-thirds center">
       <h3 class="section-heading">Web Developer</h3>
       <p class="section-description">Responsive Web Design, Landing Page, Rails, Python, WordPress, Video Editing</p>
       <h4>Education</h4>
       <p>BA in Multimedia Studies - University of the Philippines Open University</p>
       <p>Diploma in Software Development - AMA Computer Learning Center</p>
       <a href="https://ph.linkedin.com/in/christian-bernard-alvero-b826b927" target="_blank" class="button">LinkedIn</a>
       <a href="http://www.upwork.com/o/profiles/users/_~016ff5b37ed77bc45f/" target="_blank" class="button button-hire">Hire Me</a>
     </div>
    </div>
  </div>
</div>

<div id="works" class="section bg-grey center">
  <div class="container">
    <div class="row">
      <h3 class="section-heading">Works</h3>
      <ul class="post-list">
        <% @projects.each do |project| %>
            <li><%= link_to "#{project.title}", project_path(project) %>
              <div class="index-post-summary">
                <%= truncate(markdown(project.description), escape: false, length: 80 ) %>
              </div>
              <div class="post-summary-spacer"></div>
            </li>

        <% end %>
      </ul>

        <%= link_to 'View All Portfolio', projects_path, class: 'button button-primary' %>

    </div>
  </div>
</div>

<div id="recent-post" class="section center">
  <div class="container">
    <h3 class="section-heading">Recent Posts</h3>
    <ul class="post-list">
    <% @posts.each do |post| %>
      <li><%= link_to "#{post.title}", post_path(post) %>
        <div class="index-post-summary">
          <%= truncate(markdown(post.content), escape: false, length: 50 ) %>
        </div>
        <div class="post-summary-spacer"></div>
      </li>

    <% end %>
    </ul>
    <div style="margin-top: 30px">
      <%= link_to 'View All Posts', posts_path, class: 'button button-primary' %>
    </div>

  </div>
</div>

