<% title 'All Projects' %>
<div id="project-index" class="container">
    <% @projects.each do |project| %>
        <div class="project one column">
          <div class="project-image">
           <a href="<%= project_path(project) %>"><img src="<%= project.image_url %>" alt="<%= project.title %>" class="thumbnail"/></a>
          </div>
          <h2 class="title"><%= link_to "#{project.title}", project_path(project) %></h2>
          <%= truncate(project.description, escape: true, length: 120 ) %>
        </div>
    <% end %>
    <div class="pagination center">
      <%= will_paginate @posts %>
    </div>
</div>
