<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <h5><%= pluralize(@post.errors.count, "error") %> prevented this post from saving: </h5>
    <ul class="error-list">
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <% end %>

    <%= f.label :title %>
    <%= f.text_field :title, :class => 'u-full-width' %>

    <%= f.label :content, 'Body' %>
    <%= f.text_area :content, :class => 'u-full-width' %>

    <br />
    <%= f.submit 'Save', :class => 'button-primary u-full-width' %>

<% end %>